--- 
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
  <style>
    body {
      background: #f8f8f8;
    }
  </style>
</head>

<body>
  <div>
    <header class="ui menu">
      <nav class="ui container">
        
        <a class="item" href="{{ site.baseurl }}/">
          <i class="slack icon"></i>
          {{ site.title }}
        </a>
        <a class="item" href="{{ site.baseurl }}/users">
          <i class="users icon"></i>
          Users
        </a>
        <a class="item" href="{{ site.baseurl }}/conversations">
          <i class="comments icon"></i>
          Conversations
        </a>
      </nav>
    </header>
    <main class="ui container">
      <div class="ui basic segment">
        {{ content }}
      </div>
    </main>
  </div>
  
</body>

</html>